      body {
            display: flex;
            height: 100vh;
        }

        .flag {
            width: 450px;
            height: 300px;
            display: flex;
            border: 2px solid black;
        }

        .blue {
            background-color: #002664;
            width: 33.33%;
        }

        .yellow {
            background-color: #FECB00;
            width: 33.33%;
        }

        .red {
            background-color: #C60C30;
            width: 33.33%;
        }